
{% extends "base.html" %}

{% block content %}
<h2>הוספת יום הולדת</h2>
<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-lable">שם</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-lable">אימייל</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="date" class="form-lable">תאריך</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <button type="submit" class="btn btn-priamry">הוסף</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">ביטול</a>

</form>
{% endblock %}